# Project files #
*.kdev4
*.code-workspace

# Test scripts #
test/
.vscode/

# Compiled C app of unicode.c #
utf

# Compiled C app of dateadd.c #
dateadd

# Enabled configs directory (created during installation) #
conf-enabled/
data/numbers_*
